<html>
  <body>
    <h1 style="font-size: 14px">모두의 공구, MOGU!</h1>
    <p style="font-size: 12px"><%= email %>님! 아래 링크를 통해 회원가입을 마쳐주세요.</p>
    <p style="font-size: 16px">[ <%= url %> ]</p>
  </body>
</html>
